/* Add CSS rule for the individual class */

.highlight {
    display:block;
}

/* Add style to the grouping type selectors */

p, ul {
    border: 1px solid purple;
    margin:4px;
    padding:4px;
}

/* Add style to the grouping selectors */

.highlight, li {
    border:1px solid blue;
}

/* Stylize the individual type selector */

ul {
    list-style-type: none;
    display: flex;
}

/* Stylise type element */



/* Stylise type element */


