/* Stylise the list items with the descendant combinator */



/* Add CSS rules to the class */



/* Stylise the universal selector */

* {
    border: 1px solid red;
}

/* Add style to the grouping type selectors */

p, ul {
    border: 1px solid purple;
}
